
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: hsl(245, 97%, 43%);
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: rgb(111, 79, 236);
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #0a0a0a;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #fcf8f8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background: hsl(245, 97%, 43%);
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aeaeae;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: rgb(111, 79,236);
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
table, th, td { 
  border: 1px solid;
  width: 100%; max-width: 600px;
  width: auto;
}
tr:hover {background-color: coral;}
p{
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 25px 50px 75px 100px;
  border-style: dotted;
}
.special-link {
  color: blue;
  text-decoration: underline;
}

.special-link:visited {
  color: rgb(255, 0, 247);
}

.special-link:hover {
  color: rgb(4, 255, 0);
}
h5{
  opacity: 0.3;
}